{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="row">
	<div class="well col-sm-4">
  
	    {% include "tictactoe/game_list_snippet.html" with header="Game is waiting for your move" games_list=waiting_games %}

	  </div>
	  <div class="well col-sm-4">
	    {% include "tictactoe/game_list_snippet.html" with header="Other active Games" games_list=other_games %}

	  </div>
	  <div class="well col-sm-4">
	    {% include "tictactoe/game_list_snippet.html" with header="Finished Games" games_list=finished_games %}

	  </div>
      <div class="well col-sm-4 ">
          {% if invitations %}
          <h3 class="panel-header">Open Invitations</h3>
          <div class="list-group">
              {% for invitation in invitations %}
	      <a class="list-group-item" href="{% url 'tictactoe_invite_accept' invitation.id  %}">
                    {{ invitation.from_user.username }} has invited you to a game.Click here to accept. 
              </a>
              {% endfor %}
          </div>
          {% endif %}
        </div>
        <a href="{% url 'tictactoe_invite' %}">Invite another user to play a game </a>
    </div>
</div>
{% endblock content %}
